langchain
langchain-community
pypdf
bs4
langchain-text-splitters
langchain-openai
langchain-groq
validators
unstructured
pytube
numexpr
yt-dlp
tiktoken
requests
youtube-transcript-api
urllib3